<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CommonServiceLocator" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.3.0" newVersion="2.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.diagnostics>
    <sources>
      <source name="Celestial.UIToolkit.Markup" switchName="AllSwitch">
        <listeners>
          <!-- Add additional listeners if desired. -->
        </listeners>
      </source>
      <source name="Celestial.UIToolkit.VisualState" switchName="WarnSwitch">
        <listeners>
          <!-- Add additional listeners if desired. -->
        </listeners>
      </source>
      <source name="Celestial.UIToolkit.Resources" switchName="AllSwitch">
        <listeners>
          <!-- Add additional listeners if desired. -->
        </listeners>
      </source>
      <source name="Celestial.UIToolkit.Controls" switchName="AllSwitch">
        <listeners>
          <!-- Add additional listeners if desired. -->
        </listeners>
      </source>
      <source name="Celestial.UIToolkit.Animation" switchName="AllSwitch">
        <listeners>
          <!-- Add additional listeners if desired. -->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="AllSwitch" value="All"/>
      <add name="WarnSwitch" value="Warning"/>
    </switches>
  </system.diagnostics>
</configuration>